body {
  margin: 0;
  font-family: Arial;
  direction: rtl;
  background: #f5f6fa;
  transition: 0.3s;
}

.dark {
  background: #1e272e;
  color: white;
}

nav {
  background: #0a3d62;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

nav a, nav button {
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.hero {
  background: #3c6382;
  color: white;
  text-align: center;
  padding: 60px;
}

.section {
  padding: 50px;
  text-align: center;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

#count {
  font-size: 40px;
}
